<div class="container">
    
    <table class="table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>name</th>
          <th>Username</th>
          <th>City</th>
          <th>Pincode</th>
          <th>Campany Name</th>
        </tr>
      </thead>
      <tbody>
        <tr  class="success">
          <td>1</td>
          <td>Xxxx</td>
          <td>xxxx</td>
          <td>xxxx</td>
          <td>0000</td>
          <td>xxx</td>
        </tr> 
        <tr  class="danger">
            <td>2</td>
            <td>Xxxx</td>
            <td>xxxx</td>
            <td>xxxx</td>
            <td>0000</td>
            <td>xxx</td>
          </tr> 
          <tr  class="primary">
            <td>1</td>
            <td>Xxxx</td>
            <td>xxxx</td>
            <td>xxxx</td>
            <td>0000</td>
            <td>xxx</td>
          </tr>      
       
      </tbody>
    </table>
  </div>
  
