<div class="container" >
  <div class="row">
    <div class="col-md-12">

  <div class="row">
    <div class ="col-sm-6 bg-primary"><app-pie-chart></app-pie-chart></div>
    <div class ="col-sm-6 bg-success">
      <div class="row">
      <div class="col-sm-3"><app-percentage></app-percentage></div>

    </div>
    <div class="row">
      <div class="col-sm-3 bg-light"><app-user></app-user></div>

    </div>
  </div>
</div>
</div>
</div>
<div class="row">
  <div class="col-md-12 bg-danger"><app-info></app-info></div>
</div>
</div>








 <!-- <mat-grid-list cols="2"  rowHeight="2:1">

  <mat-grid-tile><app-pie-chart></app-pie-chart>

  </mat-grid-tile>
 
 <mat-grid-tile
     *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
       [style.background]="tile.color"> 
     {{tile.text}} 

    
  </mat-grid-tile>
</mat-grid-list> -->






<!-- 
  

    <div class="collapse navbar-collapse">
    
      <table class="table table-hover">
        <table class="table table-hover">
                <thead>
                  <tr>
                 
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let issue of issues",
                 >
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
    
                </tbody>
                <button (click)="getInfo()">Click </button>
                  
              </table>
             
        
        
      </table>
      </div>
    </nav> -->
<router-outlet></router-outlet>