<div class="row">
    <div class="col-sm-2">
        <p>
            <a href="#" class="hight">
              <span class="glyphicon glyphicon-user"></span>
            </a>
          </p>
    </div>
    <div class="col-sm-4">
       <ul>
           <li>Name:</li>
           <li>Username:</li>
           <li>EmailID:</li>
       </ul>
    </div>
</div>
